/* Styles.css */

body {
    font-family: 'Courier New', Courier, monospace;
    max-width: 800px;
    margin: auto;

}

h1 {
    margin:auto;

}

.ingredients {
    font-style: italic;
}

/* Sets styling for the recipe description, bg colour with border */
.description {
    background-color: bisque;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    border: 2px solid black;
}

.nav {
    font-size: 17px;
    list-style: none;
    display: flex;
    padding-left: 0%;
    margin-top: auto;
}

.nav a{
    background-color: bisque;
    color: black;
    margin-right: 0.5em;
    padding: 1em 2em;
    display: inline-block;
    text-decoration: none;

}

.nav a:hover{
    font-weight: bold;
    background-color: rgb(224, 197, 164);
    }